 *{
    font-family: 'Inter', sans-serif;
} 

.mgboardheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: 400px) and (max-width: 600px) {
        flex-direction: row;
    }
}

.mgboardcontainer {
    width: 100%;
    display:flex;
    flex-direction: column;
    height: 48px;
    padding-left: 0;
    padding-right: 0;
}

.mgboardsubtitle p {
    color: #DE3D6D;
    cursor: pointer;
}

.mgboardform label p {
    font-size: 0.875rem;
    color: #012A4A;
}

.mgboardform label {
    width: 559px;
    height: 48px;
}

.mgboardform input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding-left: 1rem;
    box-sizing: border-box;
}

.mgboardform select {
    width: 100%;
    height: 48px;
    color: #012A4A;
    background: #FFF;
    padding-left: 1rem;
}

.mgboardform {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

}

select option {
    color: #012A4A;
    background: #fff;
    padding-left: 1rem;
}

.mgboardbtn {
    width: 100%;
    height: 3rem;
    padding: 8px 10px;
    background: linear-gradient(92.1deg, #DE3D6D 55.67%, #F5844C 101.51%);
    color: white;
    margin-top: 3rem;
    border: none;
    cursor: pointer;
}

.mgboardbtn :active {
animation-timing-function: ease-out;
animation-duration: 300ms;
}

