.fpup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 745px;
    height: 548px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    max-width: 90%;
}

.fpup-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 320px;
    height: 388px;
    max-width: 90%;
}

.fpup-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 151px;
    height: 56px;
}

.fpup-logo img {
    width: 32px;
    height: 56px;
}

.fpup-logo p {
    width: 107px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #DE3D6D;
}

.fpup-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    width: 320px;
    height: 292px;
    max-width: 100%;
}

.fpup-form-group h1 {
    width: 141px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #21334F;
}

.fpup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 320px;
    height: 230px;
    max-width: 100%;
}

.fpup-form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 320px;
    height: 158px;
    max-width: 100%;
}

.fpup-form-fields input::placeholder {
    color: #C4C4C4;
}

.fpup-form-fields1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 320px;
    height: 71px;
    max-width: 100%;
}

.fpup-form-fields1 label {
    width: 85px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #21334F;
}

.fpup-form-fields1 input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 320px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    max-width: 100%;
}

.fpup-form-fields2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 320px;
    height: 71px;
    max-width: 100%;
}

.fpup-form-fields2 label {
    width: 104px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #21334F;
}

.fpup-form-fields2 input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 320px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    max-width: 100%;
}

.fpup-subBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    gap: 10px;
    width: 320px;
    height: 48px;
    background: linear-gradient(92.1deg, #DE3D6D 55.67%, #F5844C 101.51%);
    border: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    max-width: 100%;
    cursor: pointer;
}