@font-face {
  font-family: 'Inter';
  font-weight: 100;
  src: local('Inter'), url(../public/fonts/Inter-Thin.woff2) format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: local('Inter'), url(../public/fonts/Inter-ExtraLight.woff2) format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: local('Inter'), url(../public/fonts/Inter-Light.woff2) format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('Inter'), url(../public/fonts/Inter-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('Inter'), url(../public/fonts/Inter-Medium.woff2) format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: local('Inter'), url(../public/fonts/Inter-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: local('Inter'), url(../public/fonts/Inter-Bold.woff2) format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: local('Inter'), url(../public/fonts/Inter-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: local('Inter'), url(../public/fonts/Inter-Black.woff2) format("woff2");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}
